<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Get_a_Job.mapper.FeedbackMapper">
	<insert id="insertFeedback" parameterType="feedbackDTO">
		INSERT INTO feedback (
            feedback_num,
            user_id,
            original_filename,
            saved_filename,
            file_path,
            gpt_feedback,
            feedback_date,
            job_title
        ) VALUES (
            'FB' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(feedback_seq.NEXTVAL, 4, '0'),
            #{userId},
            #{originalFileName},
            #{savedFileName},
            #{filePath},
            #{gptFeedback},
            SYSDATE,
            #{jobTitle}
        )
	</insert>
</mapper>