<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>이전 모의 면접</title>
    <link rel="stylesheet" href="/static/css/chatRoom.css">
</head>
<body>
    <div class="chat-container">
    	<div style="width: 100%; text-align: center; font-weight: bold; margin-top: 10px;">
            희망 직무 : [[${fbdto.jobTitle}]] <br><br>
        </div>
        <div class="chat-header">
            <h3>이전 피드백 기록 [[${fbdto.feedbackNum}]]</h3>
        </div>
        <div class="chat-box" id="chat-box">
        	<div class="message">
        		<span class="message-text user-message">
        			<a th:href="|/static/upload/${fbdto.savedFileName}|">[[${fbdto.originalFileName}]]</a>
        		</span>
				<span class="message-text bot-message">[[${fbdto.gptFeedback}]]</span><br>
			</div>
            <!-- DB에서 불러온 채팅 메시지 출력 -->
            <div th:each="dto : ${fblist}" class="message">
	            <span class="message-text user-message" th:text="${dto.question}">질문</span>
	            <span class="message-text bot-message" th:text="${dto.answer}">답변</span> <br>
            </div>
        </div>
        <!-- 과거 채팅에는 입력창과 버튼 제거 -->
    </div>
</body>
</html>